doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  nav
    ul
      li
        a(href="/books/list/0") Books
      li
        a(href="/patrons/list/0") Patrons
      li
        a(href="/loans") Loans
  h1= title
  body
    block content
